.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #362e2b;
}

h1 {
  margin: 30px;
  font-family: 'Papyrus', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #aa66e9;
}

p{
  font-size: 2rem;
  color: #aa66e9;
  font-family: 'Indie Flower', cursive;
}
h5{
  font-size: 1.4rem;
  color: #aa66e9;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
